<footer class="w-full flex-col bg-green-700 text-center text-xs py-4">
  <div class="flex justify-around border-b py-4 text-zinc-400">
    <div>
      <h1>Top Players</h1>
      <ul>
        <li>Lisa🥰🥰</li>
        <li>Damian😠</li>
        <li>Mayan321</li>
        <li>Jackie98</li>
      </ul>
    </div>
    <div>
      <h1 class="text-zinc-200 text-lg font-bold">Social Networks</h1>
      <ul class="list disc-none">
        <li class="hover:text-red-400"><svg class="inline" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-youtube"><path d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17"/><path d="m10 15 5-3-5-3z"/></svg>
          @uQuizyt</li>
        <li class="hover:text-blue-400"><svg class="inline" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg>@uQuizfb</li>
        <li class="hover:text-sky-300"><svg class="inline" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-twitter"><path d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"/></svg>@uQuizx</li>
      </ul>
    </div>
    <div>
      <h1 class="pb-2 text-zinc-200 text-lg font-bold shadow-sm">Address</h1>
      <ul class="list disc-none">
        <li class="pb-1">85 Satholamark Rd.</li>
        <li class="pb-1">Warin Chamrab</li>
        <li class="pb-1">Ubon Ratchathani</li>
        <li class="pb-1"><span class="font-bold text-white">Thailand</span>, 34190</li>
        <li class="pb-1"><a href="tel:+66045353400" class="font-bold font-bold text-zinc-200 hover:text-white">+66 045 353 400</a></li>
      </ul>
    </div>
  </div>
  <div class="w-full pt-4 text-zinc-200">
    Copyleft © uQuiz All Seats Reserved.
  </div>
</footer>
