<header class="flex mx-40 my-2 h-24 shadow-xl text-xl">
    <a href="{% url 'quiz-home' %}">
        <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-align-justify"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
    </a>
    <div class="flex grow text-center justify-around">
        <a class="bg-green-700 text-white rounded-2xl h-10 py-2 my-2 px-6 shadow-md"
                href="{% url 'quiz-users' %}">Users</a>
        <a class="bg-green-700 text-white rounded-2xl h-10 py-2 my-2 px-6 shadow-md"
                href="#">menu2</a>
        <a
                href="#" class="hover:text-green-700 hover:animate-pulse">menu3</a>
        <a
                href="#">menu4</a>
    </div>
    <div class="inline flex">
        <span class="px-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-round"><path d="M18 20a6 6 0 0 0-12 0"/><circle cx="12" cy="10" r="4"/><circle cx="12" cy="12" r="10"/></svg>
        </span>
        <span class="px-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
        </span>
    </div>
</header>
