{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        {% tailwind_css %}
        <meta charset="UTF-8"></meta>
        <title>Quiz Home</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <style>
          *{
            font-family: "Kanit", serif;
            font-optical-sizing: auto;
            font-style: normal;
          }
        </style>
    </head>
    <body class="flex flex-col min-h-screen">
      <header class="w-full md:w-2/3 flex-col border-b-2 mx-auto pt-10">
        <div class="w-full flex text-green-700">
          <div class="text-3xl px-4 hover:animate-pulse"><a href="{% url 'quiz-home' %}">uQuiz</a></div>
          <div class="grow flex justify-around items-center text-zinc-700">
            <div class="w-full hidden md:flex md:justify-around">
              <a href="#" class="transition ease-in-out delay-150 hover:text-green-700 px-4 hover:border hover:border-green-100 hover:rounded-xl">menu 1</a>
              <a href="#" class="hover:text-green-700">menu 2</a>
              <a href="{% url 'quiz-users' %}">users</a>
              <a href="{% url 'quiz-user-register' %}">register</a>
            </div>
            <div class="w-full flex md:hidden justify-around">
              <input class="border-green-400 border rounded-xl px-4" type="text" value="text" />
            </div>
          </div>
          <div class="right flex items-center justify-around flex-row-reverse md:flex-row">
            <a href="#" class="px-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-round"><path d="M18 20a6 6 0 0 0-12 0"/><circle cx="12" cy="10" r="4"/><circle cx="12" cy="12" r="10"/></svg>
            </a>
            <a href="#" class="px-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
            </a>
          </div>
        </div>
        <div class="w-full flex justify-around md:hidden pt-6">
              <a href="#">menu 1</a>
              <a href="#">menu 2</a>
              <a href="#">menu 3</a>
        </div>
      </header>
      <main class="flex flex-col grow bg-white">
        <h1 class="text-center">QUIZ HOME</h1>
      </main>
      <footer class="w-full h-10 bg-green-700 text-white text-center text-xs py-4">
        Copyleft © uQuiz All Seats Reserved.
      </footer>
    </body>
</html>
