{% extends 'quiz/base.html' %}

{% block main %}

<!-- <div class="flex flex-col py-10 mx-10 justify-around">
  <div class="w-[640px] mx-auto shadow-xl rounded-xl mt-[-32px] mb-10 p-10 bg-zinc-100">
        <div class="mb-4">
        <p class="block text-xl text-gray-700 font-bold mb-2">
            User Register
        </p>
        </div> -->
        <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm mb-4">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="mt-4">
                        <button class="px-6 py-1 my-2 justify-center hover:bg-green-700 hover:text-white bg-green-100 mx-auto border rounded-xl" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        
    <!-- </div>
</div> -->


{% endblock %}
