{% extends 'quiz/base.html' %}

{% block main %}

<script src="//unpkg.com/alpinejs" defer></script>
<div class="bg-gray-200 flex justify-center min-h-auto">
    <div class="w-1/2 min-w-1/2 mx-auto flex flex-col bg-white rounded-lg shadow-lg my-4">
        <form action="{% url 'quiz-results' %}" method="post">
            {% csrf_token %}
            <div class="my-8 px-8 ">
                {% for question in questions %}
                    <h2 class="text-center mt-5 text-2xl font-semibold">{{ question.text }}</h2>
                    <div x-data="{ selected: null }">
                        {% for choice in question.choices.all %}
                            <!-- กำหนดสีของปุ่มตามลำดับของตัวเลือก -->
                            <label 
                                :class="{
                                    'bg-red-500 text-white': selected !== '{{ choice.id }}' && {{ choice.id }} % 4 === 0,
                                    'bg-blue-500 text-white': selected !== '{{ choice.id }}' && {{ choice.id }} % 4 === 1,
                                    'bg-green-500 text-white': selected !== '{{ choice.id }}' && {{ choice.id }} % 4 === 2,
                                    'bg-yellow-500 text-white': selected !== '{{ choice.id }}' && {{ choice.id }} % 4 === 3,
                                    'bg-red-900 text-white': selected == '{{ choice.id }}' && {{ choice.id }} % 4 === 0,
                                    'bg-blue-900 text-white': selected == '{{ choice.id }}' && {{ choice.id }} % 4 === 1,
                                    'bg-green-900 text-white': selected == '{{ choice.id }}' && {{ choice.id }} % 4 === 2,
                                    'bg-yellow-900 text-white': selected == '{{ choice.id }}' && {{ choice.id }} % 4 === 3,
                                }"
                                class="p-4 rounded-lg flex my-2 cursor-pointer justify-center"
                            > 
                            <!-- or can use forloop.counter0 get number -->
                                <input type="radio" name="question-{{ question.id }}" value="{{ choice.id }}" x-model="selected" class="hidden">
                                {{ choice.text }}
                            </label>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="flex justify-center mb-5">
                <button type="submit" class="mt-4 p-2 bg-gray-800 text-white rounded-lg">Submit</button>
            </div>
        </form>
    </div>
</div>
{%endblock %}
